.result-container {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
}

.result-container h2,
.result-container h3 {
  margin-bottom: 10px;
}

.result-container p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.restart-button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.restart-button:hover {
  background-color: #4fa8c8;
}
