.quiz-container {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
}

.question-section {
  margin-bottom: 20px;
}

.question-count {
  font-size: 18px;
  margin-bottom: 10px;
}

.question-text {
  font-size: 24px;
}

.answer-section {
  display: flex;
  flex-direction: column;
}

.answer-section button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 15px;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.answer-section button:hover {
  background-color: #4fa8c8;
}

.score-section {
  font-size: 24px;
}

.previous-button {
  background-color: #f0ad4e; /* A distinct color, e.g., orange */
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 20px; /* Space from answer buttons */
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  align-self: flex-start; /* Align to the left if container is flex */
}

.previous-button:hover {
  background-color: #ec971f;
}
